<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="teste" params="connected_to:='' *origin">

    <xacro:unless value="${connected_to == ''}">
      <joint name="teste_link_joint" type="fixed">
        <parent link="${connected_to}" />
        <child link="teste_link" />
        <xacro:insert_block name="origin" />
      </joint>
    </xacro:unless>

    <link name="teste_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://magni_description/meshes/base.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://magni_description/meshes/base.dae" scale="1 1 1" />
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>