<?xml version="1.0"?>

<robot name="magni_base">

  <!-- Link 0 -->
  <link name="link_0">
    <inertial>
      <mass value="1" />
      <inertia ixx="0.166667" ixy="0" ixz="0" iyy="0.166667" iyz="0" izz="0.166667" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="base.dae" scale="1 1 1" />
      </geometry>
      <material name="link_material">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="base.dae" scale="1 1 1" />
      </geometry>
    </collision>
  </link>

  <!-- Marker Pad -->
  <link name="marker_pad">
    <visual>
      <origin xyz="0 0 0.272" rpy="0 0 0" />
      <geometry>
        <box size="0.12 0.12 1e-5" />
      </geometry>
      <material name="marker_material">
        <script>
          <uri>model://teste/materials/scripts</uri>
          <uri>model://teste/materials/textures</uri>
          <name>Marker0/Marker</name>
        </script>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.12 0.12 1e-5" />
      </geometry>
    </collision>
  </link>

  <!-- Fixed Joint -->
  <joint name="fixed_joint" type="fixed">
    <parent link="link_0" />
    <child link="marker_pad" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>

